config EMKIT_INFO
	tristate "Detect modules for EMKIT"
	help
	  Say Y here if you want to generate a sysfs entry for
	  detecting module on Android.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called emkit_info.
